body{
    background: rgb(0,36,35);
  background: linear-gradient(45deg,rgba(0,36,35,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
     color:rgb(99, 111, 167);
     font-family: fantasy;
     height: 100%;
     font-size: 20px;
     margin-bottom: 100px;
	 text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
     
  }


  .grid1 {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 300px;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    justify-content: center;
    }

    .grid2 {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: 300px;
        grid-column-gap: 50px;
        grid-row-gap: 0px;
        justify-content: center;
        }
 
.grid3 {
 display: grid;
grid-template-columns: repeat(3, 300px);
grid-template-rows: 300px;
grid-column-gap: 50px;
grid-row-gap: 0px;
justify-content: center;
  }  
  .grid4 {
    display: grid;
   grid-template-columns: repeat(3, 300px);
   grid-template-rows: 300px;
   grid-column-gap: 50px;
   grid-row-gap: 0px;
   justify-content: center;
     }  
     .grid5 {
      display: grid;
     grid-template-columns: repeat(3, 300px);
     grid-template-rows: 300px;
     grid-column-gap: 50px;
     grid-row-gap: 0px;
     justify-content: center;
       }  
	   .grid6 {
		display: grid;
	   grid-template-columns: repeat(3, 300px);
	   grid-template-rows: 300px;
	   grid-column-gap: 50px;
	   grid-row-gap: 0px;
	   justify-content: center;
	   }
.srodek{
  font-size: 50px;
  color:white;
} 
.text{
  font-size: 20px;
  color: powderblue;
  font-family: fantasy;
  
}

.img1{
  width: 200px;
  height: 200px;
  
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


#menu {
	background: #0099CC;
	background: linear-gradient(to bottom,  #0099CC,  #57E9FF);
	color: #FFF;
	height: 55px;
	width: 97%;
  padding-right:20px;
	padding-left:20px;
	border-radius: 0px;
	border: 4px ridge #0B006D;
	text-align: justify;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	
}
#menu ul {
	width: 100%;
  text-align: center;
}
#menu li {
	float: center;
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 55px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 30px;
	
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #FFFFFF;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 55px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 47px;
	text-align: center;
	position: absolute;
	left: 40px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}







